/********************************/
/* PAGE & ELEMENT'S SETTINGS */
/********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
}


/********************************/
/* RESUABLES */
/********************************/
.row {
    width: 75%;
    margin: 0 auto;
}

section {
    padding: 3% 0;
}

span {
    font-weight: 400;
}

/* ------- HEADINGS ------- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    display: block;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 0;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h4,
h5 {
    font-weight: 400;
}

h4 {
    font-size: 90%;
}

h5 {
    font-size: 80%;
    margin-bottom: 5px;
}

/* ------- LINKS ------- */
a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

a:hover,
a:active {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
}

/* ------- BUTTONS ------- */
.btn:link,
.btn:visited {
    display: inline-block;
    color: #fff;
    background-color: #e67e22;
    padding: 5px;
    font-size: 120%;
    border: 2px solid #e67e22;
    border-radius: 10px;
    transition: color 0.2s, background-color 0.2s;
}

.btn:hover,
.btn:active {
    color: #e67e22;
    background-color: transparent;
}

/* ------- PARAGRAPHS ------- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

/*----------- CONTAINER & BOXES -------------*/
.container {
    margin: 0 auto;
}

.box {
    padding: 1%;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #e8e8e8;
}

.box h3 {
    text-align: center;
}

.box p {
    font-size: 100%;
    line-height: 145%;
    text-align: center;
}

/* ------- ICONS ------- */
.icon-big {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    margin-right: 10px;
    
    /*secrets to aligh text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*----------- CLEARING FLOATS -------------*/
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/********************************/
/* HEADER */
/********************************/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0,0, 0, 0.85)), url(img/header_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: auto 0;
    opacity: 0.9;
}

.profile {
    position: absolute;
    top: 60%;
    left: 10%;
}

/* Main navigation */
.main-nav {
    margin-top: 40px;
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/********************************/
/* SECTION EDUCATION */
/********************************/
.job-box {
    padding: 10px;
    margin-top: 10px;
}

.job-box:before {
    display: block;
    content: ' ';
    height: 2px;
    background-color: #d9d9d9;
}

.job-box p,
.job-box ul {
    font-size: 90%;
    font-size: 80%;
    font-weight: 400;
}

.job-box ul li{
    display: block;
    padding: 2px;
}

/********************************/
/* SECTION SKILLS */
/********************************/
.section-skills {
    background-color: #f4f4f4;
}

.section-skills .col {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
}

.section-skills h4 {
    margin-top: 15px;
}

.section-skills h4:after {
    display: block;
    content: ' ';
    height: 1px;
    background-color: #d0d0d0;
}

.section-skills ul li {
    display: block;
}

/********************************/
/* SECTION EDUCATION */
/********************************/



/********************************/
/* SECTION ABOUT ME */
/********************************/
